@font-face {
    font-family: ClickClock;
    src: url(Fonts/ClickClock.otf);
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, #08001f, #30197d);
    color: rgb(191, 255, 255);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.container{
    height: 400px;
    width: 800px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-family: "ClickClock";
}
.clock {
    border-radius: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    backdrop-filter: blur(30px);
    background-color: rgba(135, 206, 235, 0.11);
}
#date, #timezone, #day {
    font-size: 50px;
}
 #day {
    margin-left: 30px;
 }
.date{
    margin-top: 30px;
}
.time{
    font-size: 100px;
}
.timezone{
    margin-bottom: 30px;
}