@font-face {
    font-family: "ClickClock";
    src: url(Fonts/ClickClock.otf);
}
@font-face {
    font-family: "GoodMorning";
    src: url(Fonts/Good\ Morning.ttf);
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, #08001f, #30197d);
    color: rgb(191, 255, 255);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
} 

.greeting {
    font-size: 47px;
    margin-top: -100px;
    margin: 20px;
    font-family: "GoodMorning", "ClickClock";
}

.container{
    height: 400px;
    width: 800px;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-family: "ClickClock";
}
.container::before{
    content:'';
    height: 300px;
    width: 300px;
    background-color: cornflowerblue;
    position: absolute;
    z-index: -1;
    border-radius: 20px;
    left: -120px;
    bottom: -120px;
}
.container::after{
    content:'';
    height: 330px;
    width: 330px;
    background-color: tan;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    right: -120px;
    top: -120px;

}
.clock {
    border-radius: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    backdrop-filter: blur(30px);
    background-color: rgba(135, 206, 235, 0.11);
}
#date, #timezone, #day {
    font-size: 50px;
}
 #day {
    margin-left: 30px;
 }
.date{
    margin-top: 30px;
}
.time{
    font-size: 100px;
}
.timezone{
    margin-bottom: 30px;
}

.todoContainer{
    font-family: "Gillsans";
    padding: 40px 30px 70px;
    height: 500px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    margin: 20px 20px 0 0;
    overflow-y: scroll;
}
.todoContainer h2{
    color: cornflowerblue;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.todoContainer h2 img {
    width: 30px;
    margin-left: 10px;
}
.row{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}
button{
    margin-left: -25px;
    border: none;
    outline: none;
    padding: 15px 30px;
    background: #c74636;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    color: white;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url(Images/unchecked.png);
    background-position: center;
    top: 8px;
    left: 8px;
    background-size: contain;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background: url(Images/checked.png);
    background-size: contain;
}
ul li span {
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px;
    color: #555;
}
ul li span:hover {
    background: #edeef0 ;
}